<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatJeopardy - Game</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="scoreboard">
        <div id="team1" class="team">{{ setup_dict['team1_name'] }}</div>
        <div class="scores">
            <span class="score">404</span>
            <span>:</span>
            <span class="score">404</span>
        </div>
        <div id="team2" class="team">{{ setup_dict['team2_name'] }}</div>
    </div>
    <div class="gameboard">
        <div id="c1" class="category">{{ setup_dict['category1'] }}</div>
        <div id="c2" class="category">{{ setup_dict['category2'] }}</div>
        <div id="c3" class="category">{{ setup_dict['category3'] }}</div>
        <div id="c4" class="category">{{ setup_dict['category4'] }}</div>
        <div id="c5" class="category">{{ setup_dict['category5'] }}</div>
        <button class="question-tile" id="0,0">100</button>
        <button class="question-tile" id="1,0">100</button>
        <button class="question-tile" id="2,0">100</button>
        <button class="question-tile" id="3,0">100</button>
        <button class="question-tile" id="4,0">100</button>
        <button class="question-tile" id="0,1">200</button>
        <button class="question-tile" id="1,1">200</button>
        <button class="question-tile" id="2,1">200</button>
        <button class="question-tile" id="3,1">200</button>
        <button class="question-tile" id="4,1">200</button>
        <button class="question-tile" id="0,2">300</button>
        <button class="question-tile" id="1,2">300</button>
        <button class="question-tile" id="2,2">300</button>
        <button class="question-tile" id="3,2">300</button>
        <button class="question-tile" id="4,2">300</button>
        <button class="question-tile" id="0,3">400</button>
        <button class="question-tile" id="1,3">400</button>
        <button class="question-tile" id="2,3">400</button>
        <button class="question-tile" id="3,3">400</button>
        <button class="question-tile" id="4,3">400</button>
        <button class="question-tile" id="0,4">500</button>
        <button class="question-tile" id="1,4">500</button>
        <button class="question-tile" id="2,4">500</button>
        <button class="question-tile" id="3,4">500</button>
        <button class="question-tile" id="4,4">500</button>
    </div>
    <div id="question-card">
        <div class="card-heading">
            <span id="question-category">CATEGORY</span>
            <span> FOR </span>
            <span id="question-points">AMOUNT OF</span>
            <span> POINTS</span>
            <button id="close-button">X</button>
        </div>
        <div class="qa-text" id="question-text"></div>
        <div id="team-select-buttons">
            <button id="team1-btn">{{ setup_dict['team1_name'] }}</button>
            <button id="team2-btn">{{ setup_dict['team2_name'] }}</button>
        </div>
        <form id="ans-form" action="">
            <label for="user-ans"></label>
            <input type="text" id="user-ans-field" name="user-ans" placeholder="Answer" required><br>
            <button type="button" id="submit-ans-btn">Submit</button>
        </form>
        <div class="qa-text" id="answer-text"></div>
        <div id="correct-buttons">
            <button id="correct-btn">Correct</button>
            <button id="incorrect-btn">Incorrect</button>
        </div>
    </div>
    <footer>
    </footer>
    <script type="text/javascript"> const setup_data = {{ setup_dict|tojson }}; </script>
    <script src="../static/game.js"></script>
</body>
</html>