<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatJeopardy - Start</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="form-page">
        <h2>SET UP YOUR GAME</h2>
        <form action="" method="POST">
            <div class="form-field">
                <label for="team1_name">Team 1: </label>
                <input type="text" id="team1_name" placeholder="Name">
            </div>
            <div class="form-field">
                <label for="team2_name">Team 2: </label>
                <input type="text" id="team2_name" placeholder="Name"><br>
            </div>
            <div class="form-field">
                <label for="category1">Category 1: </label>
                <input type="text" id="category1" placeholder="Category"><br>
            </div>
            <div class="form-field">
                <label for="category2">Category 2: </label>
                <input type="text" id="category2" placeholder="Category"><br>
            </div>
            <div class="form-field">
                <label for="category3">Category 3: </label>
                <input type="text" id="category3" placeholder="Category"><br>
            </div>
            <div class="form-field">
                <label for="category4">Category 4: </label>
                <input type="text" id="category4" placeholder="Category"><br>
            </div>
            <div class="form-field">
                <label for="category5">Category 5: </label>
                <input type="text" id="category5" placeholder="Category"><br>
            </div>
            
            <label class="switch">Christmas mode: 
                <input type="checkbox">
                <span class="slider"></span>
            </label><br><br>

            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>
    </div>
    <script src="../static/game.js"></script>
</body>
</html>